<CENTER>
<h1>Bienvenidos a Bestnid</h1>
<br/>

<%= link_to "Articulos", articles_path() ,class: "btn btn-danger" %>
<%= link_to "Usuarios",  users_path()    ,class: "btn btn-danger"  %>
<%= link_to "Ofertas",   offers_path()   ,class: "btn btn-danger"  %>
</CENTER>