<title>Lista de productos</title>
<div class="container">	
   <%if @articulos.size == 0 %>
   		<div class="row center"><h3 class="teal-text"> Todavía no hay articulos publicados </h3> </div>
   	<%else%>

	<ul class="collection with-header">
  		<li class="collection-header"><h4 class="teal-text thin">Articulos</h4></li>
    		<% @articulos.each do |a| %>  	
 			<li class="collection-item"><div><%= link_to a.nombre, article_path(a) %> 
 										<%= image_tag a.foto_url.to_s , :width => 70, :height => 70 %> 
 										<div class="secondary-content rigth">
 										 <%if current_user!=nil && ((can? :edit, Article) && ((a.user_id == current_user.id) || (current_user.role =="admin"))) %>
			 <%= link_to "Editar", edit_article_path(a),class: "btn btn-primary" %> 	
			  <%= link_to "Eliminar", a,method: :delete, data:{ confirm: "Estás seguro?" } , class: "btn btn-danger"%> </td>
			 <%end%></div></div><br></li>
			 
			
			
		</tr>	
	<% end %>	
<% end %>	
</div>
