<title>Tu carrito</title>
<body>
  <div class="container">
  <div class="row">
  <div class="col s12">
    <ul class="collection with-header">
      <li class="collection-header"><h4>Tu lista de productos</h4></li>
      <% @shopping_cart.shopping_cart_items.each do |sc| %>
        <li class="collection-item"><div><%= link_to Article.find(sc.item_id).nombre, article_path(Article.find(sc.item_id)) %>
                  <%= link_to shopping_carts_path(:product_id => sc.item_id), method: :delete, data:{ confirm: "Quitar este elemento del carrito?" }, class: "right" do%>
                  <i class="material-icons">delete</i>
                  <%end%></li>
      <%end%>
    </ul>
    <a class="waves-effect waves-light btn-large right" href="compra.html">Comprar<i class="material-icons right">attach_money</i></a>
  </div>
  </div>
</div>
</body>
