<CENTER><H1 style="color:red">Gestión de usuarios</H1>

</br>
</br></br>
<%=link_to "Nuevo usuario", 'users/new', class: 'btn btn-info btn-sm'%>
</br>
</br>
<%=link_to "Lista de usuario", 'users/index', class: 'btn btn-info btn-sm'%>
</br>
</CENTER>