@font-face {

    font-family: "Coolvetica";

    
    src: url("/fonts/coolvetica rg.ttf") format("truetype");

}

titulo
{
 font-family:"Coolvetica";
 font-size: 45pt;
 color: #EB1B1B;
}

subtitulo
{
 font-family:"Coolvetica";
 font-size: 25pt;
}

thtabla
{
 font-family:"Coolvetica";
 font-size: 15pt;
}

thtabla2
{
 font-family:"Coolvetica";
 font-size: 17pt;
 color: #EB1B1B
}

categoria
{
 font-family:"Coolvetica";
 font-size: 20pt;
}
titlogo
{
 font-family:"Coolvetica";
 font-size: 20pt;
 color: #FFFFFF;
}