<br/>
<br/>
<titulo> Usuarios con mas ventas </titulo><br/><br/>
<table class="table">	
	<tr>
		 <th><thtabla>Nombre</thtabla></th>	
		 <th><thtabla>Apellido</thtabla></th>
		 <th><thtabla>Usuario</thtabla></th>
		 <th><thtabla>Ventas</thtabla></th>
    </tr>
    <% @ofertas=Offer.all%>
    <% @ofertas.each do |o| %>  	
 		
 		<tr>
 			 <%= usuario=User.find(o.user_id) %>		
			 <td> <%= usuario.name %> </td>	
		</tr>	
	<% end %>	
<% end %>	
</table>